#main {
  form {
    select {
      font-size: 1.1em;
      border: none;
      width: 100%;
      padding: 7px;
      margin-bottom: 10px;
      background: none;
      border-bottom: 1px solid #ccc;
    }
  }
}
