<menu>
  <ul>
    <a routerLink="/ads">
      <ol>
        <i class="fas fa-list-ul"></i> List ads
      </ol>
    </a>
    <a routerLink="/ads/create">
      <ol>
        <i class="fas fa-plus"></i> Add an ad
      </ol>
    </a>
  </ul>
  <ul>
    <a routerLink="/login">
      <ol>
        <i class="fas fa-sign-in-alt"></i> Log in
      </ol>
    </a>
    <a routerLink="/register">
      <ol>
        <i class="fas fa-user-plus"></i> Register
      </ol>
    </a>
  </ul>
</menu>

<div id="app">
  <router-outlet></router-outlet>
</div>
